/*----- Basic typo color -----*/
body {
  color: #191a1e;
  background-color: #fcfcfd;
}
h1,
h2,
h3,
h4,
h5,
h6,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #191a1e;
}
a {
  color: #191a1e;
}
a:hover {
  color: #ee3364;
}
/*----------------------------------------*/
/*----- Backgrounds -----*/
/*----------------------------------------*/
.bg-trans {
  background-color: transparent !important;
}
.bg-white {
  background-color: #fff !important;
}
.bg-first-color {
  background-color: #fff2ef !important;
}
.bg-second-color {
  background-color: #e4f3ff !important;
}
.bg-third-color {
  background-color: #fce9ff !important;
}
.bg-fourth-color {
  background-color: #f0f0f0 !important;
}
.bg-fifth-color {
  background-color: #f5f5f5 !important;
}
.bg-blue {
  background-color: #00bec5 !important;
}

.bg-header {
  background-image: url("../images/bg-hero.png"); /*----- background image hero -----*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-cta {
  background-image: url("../images/bg-cta.jpg"); /*----- background image cta -----*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Text Color */

.white-color {
  color: #fff !important;
}
.first-color {
  color: #ee3364 !important;
}
.second-color {
  color: #00bec5 !important;
}
.third-color {
  color: #fdf4b4 !important;
}
.fourth-color {
  color: #191a1e !important;
}

/*----- Buttons Colors -----*/
.btn,
input[type="submit"] {
  background-color: #3e3c56;
  border-color: #3e3c56;
  color: #fff;
}
.btn i {
  color: inherit !important;
}
.btn-global {
  color: #fff;
  background-color: #ee3364;
  border-color: #ee3364;
}

/*===== button hovers =====*/
.btn:hover,
.btn-flat:hover,
#submit:hover,
input[type="submit"]:hover {
  background-color: #00bec5;
  border-color: #00bec5;
  color: #fff;
}

/*===== Header =====*/
#header-global {
  background-color: transparent;
}
#header-global.trans-header {
  background-color: transparent;
}
#header-global.on-scroll {
  background-color: #fff;
}
#header-global.on-scroll .on-scroll-color-dark {
  color: #11204d !important;
}

/*----- Footer -----*/
.copyright {
  background-color: #f0f0f0;
}
.copyright,
.copyright a {
  color: #191a1e;
}
.copyright a:hover {
  color: rgba(255, 255, 255, 0.25);
}

/* menu for background */
.menu-dark .nav-link {
  color: #191a1e;
}
.menu-dark .active {
  color: #000;
}
.menu-dark .sf-menu:first-child > li a::before {
  background-color: #ee3364;
}
.menu-dark .nav-link:hover {
  color: #000;
}
/* dropdown link color */
.sf-menu .sub-menu li a {
  color: #787878;
}
.sf-menu .sub-menu li a:hover,
.sf-menu .sub-menu li .active {
  background: #f5f5f5;
  color: #fff;
}
.sf-menu .sub-menu {
  background-color: #fff;
}
.sf-menu .sub-menu a {
  border-bottom-color: #eee;
}
/*===== Responsive header =====*/
.responsive-header {
  background-color: #fff;
}
.hamburger-lines,
.hamburger-lines:after,
.hamburger-lines:before {
  background-color: #000;
}
.slicknav_nav,
.slicknav_menu {
  background-color: #fff;
}
.slicknav_nav li,
.slicknav_nav .dropdown-item {
  border-color: #e5e5e5;
}
.slicknav_nav,
.slicknav_nav a,
.slicknav_menu .slicknav_menutxt {
  color: #000;
}
.slicknav_nav a:hover,
.slicknav_nav .slicknav_row:hover,
.slicknav_nav .slicknav_row:hover a,
.slicknav_nav a.active {
  color: #ee3364;
}
.slicknav_nav .dropdown-item.active,
.slicknav_nav .dropdown-item:hover,
.slicknav_nav .dropdown-item:focus {
  background-color: transparent;
}

/*----- Elements -----*/
/*----------------------------------------*/
/*====== preloader =====*/
.preloader {
  background: #fff;
}
.preloader-img {
  border-color: rgba(255, 255, 255, 0.05);
  border-top-color: #000;
}
/*===== progress =====*/
.progress {
  background-color: #fff;
}
.progress-title,
.progress-value {
  color: #000;
}
.progress-title i {
  color: #201f1f;
}
/*===== border table =====*/
.border-table th {
  color: #4e5767;
}
.border-table th,
.border-table td {
  border-color: #ddd;
}
.border-table tr td:nth-child(2) {
  color: #000;
  font-weight: 500;
}
/*===== portfolio =====*/
.filter-nav a:hover,
.filter-nav .active {
  color: #191a1e;
}
.filter-nav a::before,
.filter-nav .active::before {
  background-color: #ee3364;
}
.media-zoom,
.media-link {
  color: #191a1e;
}
.portfolio-item:hover .portfolio-overlay {
  background-color: rgba(255, 255, 255, 0.8);
}
.portfolio-style-2 .media-zoom,
.portfolio-style-2 .media-link {
  background-color: #191a1e;
  color: #fff;
}

/*===== styled heading =====*/
.styled-heading::before {
  background-color: none;
}
.styled-heading p {
  color: #191a1e;
}
